



body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

.content {
  padding: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; 
  width: 200px;
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease; 
  z-index: 1;
}

.sidebar.open {
  right: 0;
} 



 /* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}  */


.icon1{
  margin-left: 700px;
}

#icon2{
margin-left: 50px;
}
.sidenav{
  display:none;
}
#navbarbutton{
  display:none;
}  

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    
    
  }



  
 /* Style for the side menu */
.side-menu {
  display: none;
  /* Add other styles for the side menu (e.g., background, position, etc.) */
}

/* Show the side menu when the appropriate class is added */
.side-menu.show {
  display: block;
}

/* Style for the button */
.menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
}
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-y: auto;
    height: 200px;
  }


  .navbar1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    background-color: #2E1733;
  }
  
  /* .navbar1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  } */
  
  /* #icon2{
    background-color: red;
    border-radius: 7px;
  } */
  .navbar1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-left: 50px;
    font-size: 15px;
  }

  /* Assuming you have a class or ID for your navbar, let's say it's called .navbar */
/* .navbar li .fa-bars {
  display: none;
} */

  .header1 {
    /* position: sticky; */
    top: 0;
    z-index: 1;
    height: 50px;
    position: fixed;
    width:100%;
    

  }

    .aceins{
display: none;

  }  


  
   .header2 {
    position: fixed;
    top: 0%;
    z-index: 1;
    height: 15%; 
    margin-top: 40px;
    width:100%;
    background-color: white;

  } 

    
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
   position: relative;  /*Add position relative */
    z-index: 1; /* Add z-index to keep the navbar above the slideshow */
    
    
    
  }
  
  .navbar li {
    margin-left: 10px;
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 4px 14px;
    border: none;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .navbar img {
    margin-right: 300px;
    
  }
  
  .dropdown {
    position: relative;
  }
  

  .dropdown {
    position: relative;
  }
  
  .dropdown select {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }
  
  .dropdown:hover select {
    display: block;
  }
  
  
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: -85px; /* Adjust the margin-top to push the slideshow behind the navbar */
    z-index: -1; /* Set z-index to place the slideshow behind the navbar */
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
/* 
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    margin-left: -132px;
  }
  
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
    

  .main-container {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: -70px;
    z-index: 1;
    /* flex-wrap: wrap; */
    
  }
  
  
  .box {
    flex: 0.20;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgb(103, 36, 117);
    color: white;
    transition: transform 0.3s ease;
    
  }

  .box:hover {
    transform: translateY(-10px); /* Move the image 10 pixels upward */
  }
  

  .main-container7 {
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: -70px;
    z-index: 1;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .read-more-button {
    background-color: rgb(87, 33, 98);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;

  }

  .read-more-button:hover{
    cursor: pointer;
  }

  .main-container1 {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
    margin-top: 70px;
  }
  
  .box1 {
    flex: 1;
    height:60%;
    padding: 20px;
    border: 1px solid #000;
    background-color:white;
    border-color: white;
    
    color: white;
    transition: transform 0.3s ease;
    color:#000;
    
  }

  .box1:hover {
    transform: translateY(-10px); /* Move the image 10 pixels upward */
  }

  .button1{
    margin-left: 40px;
    background-color:  rgb(103, 36, 117);;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
  }

  .button1:hover{
    cursor: pointer;
  }


  .button3{
    margin-left: 40px;
    background-color:  rgb(103, 36, 117);;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
  }

  .button3:hover{
    cursor: pointer;
  }


  .button4{
    margin-left: 40px;
    background-color:  rgb(103, 36, 117);;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
  }

  .button4:hover{
    cursor: pointer;
  }


  .heading2{
    margin-left: 250px;
  }

  .heading7{
    margin-left: 55%;
  }

.heading3{
  margin-left: 41%;
}

.heading6{
  white-space: nowrap; 
  margin-left: 300px; 
  color: white;
}

  .button5{
    margin-left: 40px;
    background-color:  rgb(103, 36, 117);;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
  }

  .button5:hover{
    cursor: pointer;
  }

  .image12{
     margin-left: -280px;
  }

  .image13{
    margin-left: -5px;
 }


   .image14{
    margin-left: -80px;
    height:500px;
    transition: transform 0.3s ease-in-out;
    width:60%;
    
   }

   .image14:hover {
    transform: scale(1.1);
}


  .image2{
    width: 30%;
    height:75%;
  }
   .container2 {
    display: flex;
    flex-direction: column;
    margin-left: 630px;
    margin-top: -550px;
  }
  
  
  .box2 {
    flex: 0.6; 
    width:500px;
    height:400px;
    border: 1px solid #000;
    background-color: rgb(94, 34, 106);
    color: white;
    padding:5px;
  }

  

  .para1{
    margin-top: -70px;
    margin-left: 110px;
  }

  .para6{
    margin-top: -70px;
    margin-left: 110px;
  }

  .para7{
    margin-top: -70px;
    margin-left: 110px;
  }

  .para8{
    margin-top: -70px;
    margin-left: 110px;
  }
  .para9{
    margin-top: -70px;
    margin-left: 110px;
  }
  .para10{
    margin-top: -70px;
    margin-left: 110px;
  }


  .para2{
    margin-left: 60px;
  }

  .para3{
    margin-left: 45px;
  }

  .para4{
    margin-left: 60px;
  }

  .para5{
    margin-left: 60px;
  }

  .p1{
    font-size: 25px;
  }

  .p3{
    text-decoration: none;
     color: white;
      font-size: 16px;
  }

  .p4{
    font-size: 25px;
  }

  .p5{
    text-decoration: none;
     color: white;
      font-size: 16px;
  }

  .p6{
    text-decoration: none;
     color: white; 
     font-size: 16px;
      white-space: nowrap;
  }

  .p7{
    text-decoration: none; 
    color: white;
     font-size: 16px;
  }

  .p8{
    font-size: 25px;
  }

  .p9{
    text-decoration: none; 
    color: white;
     font-size: 15px;
      white-space: nowrap;
  }

  .p10{
    font-size: 25px;
  }

  .p11{
    text-decoration: none;
     color: white;
      font-size: 15px; 
      white-space: nowrap;
  }

  .p12{
    text-decoration: none;
     color: white;
      font-size: 15px; 
      white-space: nowrap;
  }

  .p13{
    margin-top: 30px;
     margin-left: 70px; 
     color: white;
  }
  .container3 {
    display: flex;
    flex-direction: row;
    margin-left: 110px;
    width:1000px;
    z-index: -1;
  }

  .container4{
    margin-left:50px ;
    border-radius: 20px;
    background:white;
    padding: 20px;
    width: 300px;
    height: 530px;
    box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.2);
    z-index: -1;
 
  }

   .container5 {
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    width:1050px;
    
  }

  .container5 .heading1{
    margin-top: 80px; 
    margin-left: -320px;
  }

  .container5 .heading2{
    margin-top: 110px;
     margin-left: -350px;
  }

  .container5 .heading3{
    margin-top: 140px;
     margin-left: -320px;
  }

  .container5 .heading4{
    margin-top: 80px;
     margin-left: -310px;
  }

  .container5 .heading5{
    margin-top: 110px; 
    margin-left: -350px;
    color: black;
  }

  .container5 .heading6{
    margin-top: 140px;
     margin-left: -270px;
     color: black;
  }

  .container5 .heading7{
    margin-top: 80px;
     margin-left: -285px;
  }

  .container5 .heading8{
    margin-top: 110px;
     margin-left: -350px;
  }


  .container5 .heading9{
    margin-top: 140px; 
    margin-left: -270px;
  }

  .container8{
    display:none;
  }

  


.image1{
 z-index: 1;
  margin-left: 90px;
  margin-top: -50px;
  border-radius: 55%;
  border-color: #F1A13E;
  border-width: 4px;
  border-style: solid;
} 


.image2{
z-index: 1;
margin-left: 8%;
margin-top:-45px ;
border-radius: 55%;
border-color: #F1A13E;
border-width: 4px;
border-style: solid;
}

.image3{
z-index: 1;
margin-left: 10%;
margin-top:-45px ;
border-radius: 55%;
border-color: #F1A13E;
border-width: 4px;
border-style: solid;
}

.image37{
  width:150px;
  height: 200px;
}

#anker1{
  text-decoration: none;
  color:black;

}

#anker1:hover{
  color:red;
}

.box3 {
  height:150px;
  padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-width: 0.1px;
}

.box4 {
  height:150px;
  padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-width: 0.1px;
}

.box5 {
  height:410px;
  width:220px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-width: 0.1px;
}


.box6 {
  height:350px;
  width:280px;
  padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-width: 0.1px;
}


.box7{
  height:300px;
  width:300px;
  padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-width: 0.1px;
}

.box8{
  height:360px;
  width:300px;
  padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: white;
  color: black;
  border-width: 0.1px;
}

.main-container3 {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
  margin-top: -70px;

}

.main-container4 {
 display: flex;
 flex-direction: row;
  background-color:rgb(66, 24, 75);
  height: 250px;
  width:2000px;
  overflow: hidden;
  white-space: nowrap;
  
}

.main-container4 img {
  display: inline-block;
  animation: moveLeft 20s linear infinite;
}


.main-container9 {

   display:none;
   
 }

 .main-container10{
  display:none;
 }
 
 .main-container11{
  display:none;
 }

 .main-container12{
  display:none;
 }
 


.main-container8 {
  display: flex;
  flex-direction: row;
   background-color:rgb(66, 24, 75);
   height: 250px;
   width:2000px;
   overflow: hidden;
   white-space: nowrap;
   
 }
 
 .main-container8 img {
  display: inline-block;
  animation: moveLeft 20s linear infinite;
}





@keyframes moveLeft {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-200%);
  }
}



/* css for footer */

.main-container5 {
  display: flex;
  flex-direction: row;
  margin-left: -5px;
  margin-top: 150px;
  background-color:RGB(50, 25, 55);
  width: 7000px;
  height: 450px;
  z-index: 1;

}
 

.box9 {
  height:300px;
  width:250px;
  padding: 20px;
   border: white;
  background-color: RGB(50, 25, 55);

  border-width: 0.1px;
  margin-left: 50px;
  margin-top:50px;
}


.box10{
  height:200px;
  width:200px;
  padding: 20px;
   border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: RGB(50, 25, 55);
  color: white;
  border-color: RGB(50, 25, 55);
  margin-top:50px;
  margin-left: 60px;
}

/* .box10 .para1{
  font-size: 25px;
  margin-left: 40px;
} */

.box11{
  height:250px;
  width:600px;
  padding: 20px;
  background-color: RGB(50, 25, 55);
  color: white;
  border-color: RGB(50, 25, 55);
  margin-top:50px;
  margin-left: 40px;
}

.box12{
  height:300px;
  width:300px;
  padding: 20px;
  margin-left: 900px;
  background-color: RGB(50, 25, 55);
  color: white;
  border-color: RGB(50, 25, 55);
  margin-top:-400px;
}

hr {
  position: relative;
  margin-top: 10px;
  border: none;
  height: 1px;
  background-color: white;
}



.main-container6 {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
  margin-top: -570px;
  background-color:RGB(50, 25, 55) ;
  max-width: 1000px;
  height: 150px;
  z-index: -1;

}


input::placeholder {
  padding-left: 30px;
  font-size: 20px;
  margin-top: -50px;
  padding: 40px;
}


body {
  overflow-x: hidden;
  box-sizing: border-box;
}



.go-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 9999;
}

.go-to-top span {
  font-size: 20px;
  line-height: 1;
}

.go-to-top.show {
  display: block;
  transition: opacity 0.3s ease-in-out;
}


.icon-link {
  display: flex; /* or inline-block */
  align-items: center;
}

.icon-link i {
  margin-right: 5px; /* adjust the spacing between the icon and the link */
}

/* Apply styles for screens with a maximum width of 385px */

.image38{
  width:50px;
  height: 80px; 
  margin-left: 50px; 
  margin-top: 20px;
}

.image7{
  height:30%;
   width:70%;
}

.image6{
  height:30%;
   width:70%;
}

.image5{
  height:30%;
   width:70%;
}

.image4{
  height:30%;
   width:70%;
}

.image8{
  height:320px;
   width:230px;
}

.image9{
  height:320px;
  width:230px;
}

.image10{
  height:320px;
  width:230px;
}

.image11{
  height:320px;
  width:230px;
}

.heading{
  margin-top:40px; 
  margin-left: 40px;
   color: white;
   font-size: 30px;

}

.heading5{
  white-space: nowrap ;
  margin-left: 300px;
  color: white;
}

.container2 .heading5{
  margin-left: 50px;
  color: black;
}

.input{
  width: 300px; 
  height: 70px;
   margin-top: -205px;
   margin-left: 40px;
}

.button2{
  width: 150px;
   height: 70px;
   margin-top: 45px;
   background-color: #7A288B; 
   color: white;
   font-size: 18px;
}